.header {
	background-color: #fb0;
	height: 100px;
	padding: 10px;
}
.header-title {
    	font-size: 24px;
    	padding: 5px 10px;
}
.header-nav {
	margin-top: 30px;
        font-size: 18px;
        padding: 5px;
}
.nav-item {
	margin-right: 15px;
    	text-decoration: none;
	padding: 5px 10px;
	background-color: #FF9521;
	border-radius: 2px;
	font-weight: bold;
}
.nav-item:hover {
	background-color: #FF8500;
}

body {
	margin:0;
	background: #FFB666;
	color: #000;
	font: 12px/1.33 "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
	text-align:left;
}
.wrapper {
	width: 100%;
    	height: 100%;
    	background-color: #fff;
    	max-width: 1280px;
	margin: 0 auto;
}

h1 {
	text-align:center;
	margin: 0.5em 0;
	font-size: 200%;
	}
p {
	margin: 0.5em 0;
	}
span {
	color: #FF002A;
}

.color-table {
	margin: 2em 2em 5em;
	border-collapse:collapse;
	border:none;
	border-spacing:0;
	font-size:100%;
	}
.color-table th {
	padding: 0 1em 0 0;
	text-align: right;
	vertical-align: middle;
	font-size: 100%;
	font-weight: normal;
	border: none;
	}
.color-table td.sample {
	width:6em; height:6em;
	padding: 10px;
	text-align:center;
	vertical-align:middle;
	font-size:90%;
	border: 1px solid white;
	white-space:nowrap;
	}
.color-table td.sample-0 {
	width:18em;
	}
.color-table.small td.sample {
	width:3em; height:3em;
	padding:0;
	border:none;
	}
.color-table.small td.sample-0 {
	width:9em;
	}
.color-table .white { margin-bottom:0.2em; color:white }
.color-table .black { margin-top:0.2em; color:black }

hr {
	margin: 2em 0 1em 0;
	border:none;
	border-bottom:1px solid silver;
	}
#footer {
	padding:1em;
	text-align:center;
	font-size:80%;
	}

.dark-shadow {
	-webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.57);
  	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.57);
}
.light-shadow {
    	-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
    	-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
    	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);		
}
.long-transition {
	-webkit-transition: all 0.25s ease;
  	-moz-transition: all 0.25s ease;
  	-o-transition: all 0.25s ease;
  	-ms-transition: all 0.25s ease;
}
.short-transition {
	-webkit-transition: all 0.15s ease;
  	-moz-transition: all 0.15s ease;
  	-o-transition: all 0.15s ease;
  	-ms-transition: all 0.15s ease;
}
